
<app-loader *ngIf="loader.isLoading | async"></app-loader> 

<div class="form-group">
  <input (keyup)="onKeyUp($event.target.value)" class="form-control" aria-describedby="emailHelp" placeholder="Search name">
</div>

<div class="records mx-5">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>  Sl No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comapny </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
        <td mat-cell *matCellDef="let element"> {{element.job}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) ="getId(row)"></tr>
      
  </table>

  <mat-paginator [length]="pageLength"
              [pageSize]="pageSize" (page)="pageEvent = $event; onPageChange(pageEvent.pageIndex)" >
</mat-paginator>

</div>