
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Sl No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname +" " + element.lastname}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Comapny </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="jobtitle">
      <th mat-header-cell *matHeaderCellDef> Job Title </th>
      <td mat-cell *matCellDef="let element"> {{element.job}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) ="getId(row)"></tr>
  </table>