<mat-drawer-container class="example-container">
    <mat-drawer color="primary" mode="over" [(opened)]='opened'>
        
        <mat-toolbar color="primary"> Menu </mat-toolbar>
        <mat-nav-list >
            <a mat-list-item [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home </a>
            <a mat-list-item [routerLink]="['employees/list']" routerLinkActive="active"  >Employees List </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <p>
            <mat-toolbar color="primary">
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon (mouseover) = "opened = !opened">menu</mat-icon>
              </button>
              <span>My App</span>
              <span class="example-spacer"></span>
              <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
              </button>
            </mat-toolbar>
        </p>
        <ng-content></ng-content>
    </mat-drawer-content>
   
  </mat-drawer-container>


